# feature-custom-kernel-config
CONFIG_LOCALVERSION="-moon"
CONFIG_LOCALVERSION_AUTO=y

# xiaomi feature config:
CONFIG_MILLET=y
CONFIG_QCA_CLD_WLAN=y
CONFIG_QCA_CLD_WLAN_PROFILE="qca6390"
CONFIG_EXFAT_FS=y
CONFIG_EXFAT_DEFAULT_IOCHARSET="utf8"
CONFIG_EROFS_FS=y

CONFIG_FOCUS_TASK=y
CONFIG_XIAOMI_METIS=y
CONFIG_CRYPTO_LZ4=y

CONFIG_BPF_LSM=y
CONFIG_BPF_SYSCALL=y
CONFIG_BPF_JIT_ALWAYS_ON=y
CONFIG_BPF_PRELOAD=y
CONFIG_XDP_SOCKETS=y
