config MIHW
	bool "Xiaomi Kernel Feature config"
	depends on ARCH_QCOM
	default y

config MILLET
	bool "frozen framework"
	depends on MIHW

config XIAOMI_METIS
	bool "dummy xiaomi metis"
	depends on MIHW

config FOCUS_TASK
	bool "set focus task"
	depends on MIHW
